# ignore dataset files
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.gz

# extra layer of protection, this ignores folders with the original name of the downloaded MVC
# 
**/*cv-corpus*/
**/*cv-corpus*

/cv_22_delta
/cv_21_delta
/mcv-scripted-en-v23.0
/cv-corpus-23.0-2025-09-05
/whisper-mozilla-finetuned

__pycache__/
