body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

section {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #f4f4f4;
}


nav a:hover {
  background-color: #0056b3;
}

#pdf-display {
  margin: 20px auto;
  position: relative;
  padding-top: 50%;
}

#pdf-display iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 75%; 
  height: 100%;
  border: 1px solid #ccc;
}


